<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ResourceServerAllowOrigins" value=""/>
    <add key="ResourceServerAutoStart" value="true"/>
    <add key="ResourceServerPrefix" value="http://localhost:3000/"/>
    <add key="RepositoryUrl" value="https://github.com/gnh1201/welsonjs"/>
    <add key="CopilotUrl" value="https://copilot.microsoft.com/"/>
    <add key="ChromiumDevToolsPrefix" value="http://localhost:9222/"/>
    <add key="ChromiumDevToolsTimeout" value="5"/>
    <add key="ChromiumExecutablePath" value="msedge.exe"/>
    <add key="ChromiumAppMode" value="true"/>
    <add key="AzureAiServicePrefix" value="https://ai-catswords656881030318.services.ai.azure.com/"/>
    <add key="AzureAiServiceApiKey" value=""/>
    <add key="AzureAiServiceApiVersion" value="2024-05-01-preview"/>
    <add key="WhoisServerUrl" value="https://xn--c79as89aj0e29b77z.xn--3e0b707e/kor/whois.jsc"/>
    <add key="WhoisReferrerUrl" value="https://xn--c79as89aj0e29b77z.xn--3e0b707e/kor/whois/whois.jsp"/>
    <add key="WhoisClientAddress" value="141.101.82.1"/>
    <add key="DnsServerAddress" value="1.1.1.1"/>
    <add key="BlobStoragePrefix" value="https://catswords.blob.core.windows.net/welsonjs/"/>
    <add key="BlobConfigUrl" value="https://catswords.blob.core.windows.net/welsonjs/blob.config.xml"/>
    <add key="HttpClientTimeout" value="90"/>
    <add key="IpQueryApiKey" value=""/>
    <add key="IpQueryApiPrefix" value="https://api.criminalip.io/v1/"/>
    <add key="IpQueryApiKey2" value=""/>
    <add key="IpQueryApiPrefix2" value="https://api.abuseipdb.com/api/v2/"/>
    <add key="DateTimeFormat" value="yyyy-MM-dd HH:mm:ss"/>
    <add key="TelemetryProvider" value="posthog"/>
    <add key="TelemetryApiKey" value="phc_pmRHJ0aVEhtULRT4ilexwCjYpGtE9VYRhlA05fwiYt8"/>
    <add key="TelemetryBaseUrl" value="https://us.i.posthog.com"/>
    <add key="TelemetryEnabled" value="true"/>
    <add key="AssemblyBaseUrl" value="https://catswords.blob.core.windows.net/welsonjs/packages"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
