<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ResourceServerPrefix" value="http://localhost:3000"/>
    <add key="RepositoryUrl" value="https://github.com/gnh1201/welsonjs"/>
    <add key="CopilotUrl" value="https://copilot.microsoft.com/"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
