<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ResourceServerPrefix" value="http://localhost:3000/"/>
    <add key="RepositoryUrl" value="https://github.com/gnh1201/welsonjs"/>
    <add key="CopilotUrl" value="https://copilot.microsoft.com/"/>
    <add key="AzureAiServiceUrl" value="https://ai-catswords656881030318.services.ai.azure.com/models/chat/completions?api-version=2024-05-01-preview"/>
    <add key="AzureAiServiceApiKey" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
