[submodule "native/ManagedEsent"]
	path = native/ManagedEsent
	url = https://github.com/microsoft/ManagedEsent.git
[submodule "native/ChakraCore"]
	path = native/ChakraCore
	url = https://github.com/chakra-core/ChakraCore.git
[submodule "native/webview"]
	path = native/webview
	url = https://github.com/gnh1201/webview
