html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 90%;
    font-size: 1em;
    font-family: "맑은 고딕", "Malgun Gothic", "Segoe UI", Calibri, Arial, Sans-Serif;
}

input, textarea {
    font-size: 1em;
    font-family: "맑은 고딕", "Malgun Gothic", "Segoe UI", Calibri, Arial, Sans-Serif;
}

#app {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
