html, body {
    width: 100%;
    height: 100%;
    font-size: 1em;
    font-family: "맑은 고딕", "Malgun Gothic", "Segoe UI", Calibri, Arial, Sans-Serif;
}

input.text {
    font-size: 1em;
    font-family: "맑은 고딕", "Malgun Gothic", "Segoe UI", Calibri, Arial, Sans-Serif;
}

#app {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url(../img/bg.png) repeat-x;
}

#aside {
    float: left;
    width: 30%;
    height: 100%;
    background-color: #333333;
    font-size: 0.8em;
}

#aside .searchbox {
    position: relative;
    height: 35px;
    background: #1d1d1d url(../img/search-3-16.png) no-repeat 10px 10px;
}

#aside .searchbox input.text {
    left: 32px;
    position: absolute;
    height: 100%;
    background: none;
    border: none;
    color: #505050;
}

#aside .serverbox ul li {
    border-top: 1px solid #333;
    background-color: #27282a;
    color: #fff;
}

#aside .serverbox ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
}

#aside .serverbox ul li span {
    display: block;
    padding: 10px;
    text-align: center;
}

#aside .serverbox ul li span img {
    vertical-align: middle;
}

#aside .serverbox ul.sub li {
    background-color: #3b3c3e;
}

#aside .serverbox ul.sub li span {
    padding-left: 30px;
    text-align: left;
}

#content {
    float: right;
    width: 70%;
    height: 100%;
    background: url(../img/World-Map-PNG-Picture.png) no-repeat center 50px;
}

#content .closebox { 
	position: absolute;
    padding: 10px;
	right: 0;
	top: 0;
}

#content .logobox {
    margin: 50px 0;
    text-align: center;
}

#content .loginbox {
    text-align: center;
}

#content .loginbox label {
    display: none;
}

#content .loginbox ul li {
    margin: 8px 0;
}

#content .loginbox ul li input.text {
    width: 200px;
    border: 1px solid #888;
    border-radius: 8px;
    padding: 5px 10px;
}

#content .loginbox .box2 {
    margin-top: 30px;
}

#content .loginbox .box2 button.submit {
    border: 0;
    background: none;
    background-color: #43a747;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
}

#content .logoutbox {
    text-align: center;
}

#content .logoutbox .box1 {
    margin: 30px 0;
}

#content .logoutbox .box1 p {
    color: #fff;
    font-size: 2em;
    font-weight: bold;
}

#content .logoutbox .box2 {
    margin: 30px 0;
}

#content .logoutbox .box2 button.logout {
    border: 0;
    background: none;
    background-color: #db0000;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
}

#content .statusbox {
    width: 360px;
    margin: 100px auto;
}

#content .statusbox .box1 ul li {
    float: left;
    width: 180px;
    margin: 10px 0;
}

#content .statusbox .box1 ul li dl dt {
    color: #616686;
    display: inline;
}

#content .statusbox .box1 ul li dl dd {
    display: inline;
}

#content .statusbox .box1 button.connect {
    border: 0;
    background: none;
    background-color: #43a747;
    color: #fff;
    font-weight: bold;
    padding: 3px 15px;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
}

#content .statusbox .box1 button.disconnect {
    border: 0;
    background: none;
    background-color: #db0000;
    color: #fff;
    font-weight: bold;
    padding: 3px 15px;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
}
